.menu {
  display: flex;
  justify-content: space-between;
  width: 400px;
  margin: 25px auto 25px auto;

  a {
    color: var(--gray-200);

    transition: color 0.5s;

    &:hover {
      color: var(--gray-900);
    }

    &.active {
      color: var(--gray-900);
      font-weight: 500;
    }
  }
}

@media (max-width: 450px) {
  .menu {
    width: 90%;
  }
}
