.menu {
  display: flex;
  justify-content: space-between;
  width: 400px;

  a {
    position: relative;
    display: inline-block;

    color: var(--gray-100);

    transition: color 0.5s;

    &:hover {
      color: var(--white);
    }

    &.active {
      color: #ffffff;
      font-weight: bold;
    }
  }
}

@media (max-width: 450px) {
  .menu {
    width: 90%;
  }
}
