.headerContainer {
  height: 6em;

  background: var(--gray-700);

  .headerContent {
    display: flex;
    align-items: center;
    justify-content: space-around;
    max-width: 1100px;
    height: 100%;
    margin: 0 auto 0 auto;
  }
}

@media (max-width: 900px) {
  .headerContainer {
    height: 13em;
    padding: 1em 0 1em 0;

    .headerContent {
      flex-direction: column;
    }
  }
}
