.logo {
  color: #ffffff;

  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;

  cursor: pointer;

  b {
    color: var(--blue-900);

    font-weight: 900;
    font-size: 1.5em;
  }
}
