.imageContainer {
  margin: auto 0 auto 0 !important;
}

@media screen and (max-width: 56rem) {
  .imageContainer {
    img {
      width: 120px;
      height: 120px;
      margin: 10px 0 auto 0;
    }
  }
}
